div#stock50 {
	position: absolute;
	top: 300px;
	left: 250px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  line-height: 100%;
}
div#stock51 {
	position: absolute;
	top: 300px;
	left: 400px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  line-height: 100%;
}
div#stock52 {
	position: absolute;
	top: 300px;
	left: 550px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  line-height: 100%;
}
div#stock53 {
	position: absolute;
	top: 300px;
	left: 700px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  line-height: 100%;
}

div#stock54 {
	position: absolute;
	top: 450px;
	left: 250px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  line-height: 100%;
}

div#stock55 {
  position: absolute;
	top: 450px;
	left: 400px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;	
  line-height: 100%;
}

div#stock56 {
  position: absolute;
	top: 450px;
	left: 550px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;	
  line-height: 100%;
}

div#stock57 {
  position: absolute;
	top: 450px;
	left: 700px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;	
  line-height: 100%;
}

div#stock58 {
  position: absolute;
	top: 600px;
	left: 250px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;	
  line-height: 100%;
}

div#stock59 {
  position: absolute;
	top: 600px;
	left: 400px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;	
  line-height: 100%;
}

div#stock60 {
  position: absolute;
	top: 600px;
	left: 550px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;	
  line-height: 100%;
}

div#stock61 {
  position: absolute;
	top: 600px;
	left: 700px;
	width: 150px;
	height: 150px;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;	
  line-height: 100%;
}