div#stock1 {
	position: absolute;
	top: 150px;
	left: 250px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock1 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock1 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock1 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/70.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock1 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock1 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}

div#stock2 {
	position: absolute;
	top: 150px;
	left: 400px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock2 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock2 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock2 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/71.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock2 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock2 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}
div#stock3 {
	position: absolute;
	top: 150px;
	left: 550px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock3 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock3 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock3 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/72.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock3 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock3 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}
div#stock4 {
	position: absolute;
	top: 150px;
	left: 700px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock4 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock4 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock4 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/73.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock4 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock4 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}
div#stock5 {
	position: absolute;
	top: 300px;
	left: 250px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock5 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock5 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock5 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/74.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock5 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock5 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}
div#stock6 {
	position: absolute;
	top: 300px;
	left: 400px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock6 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock6 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock6 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/75.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock6 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock6 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}

div#stock7 {
	position: absolute;
	top: 300px;
	left: 550px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock7 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock7 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock7 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/76.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock7 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock7 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}

div#stock8 {
	position: absolute;
	top: 300px;
	left: 700px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock8 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock8 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock8 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/77.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock8 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock8 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}

div#stock9 {
	position: absolute;
	top: 450px;
	left: 250px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock9 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock9 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock9 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/78.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock9 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock9 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}

div#stock10 {
	position: absolute;
	top: 450px;
	left: 400px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock10 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock10 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock10 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/79.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock10 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock10 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}

div#stock11 {
	position: absolute;
	top: 450px;
	left: 550px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock11 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock11 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock11 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/80.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock11 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock11 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}

div#stock12 {
	position: absolute;
	top: 450px;
	left: 700px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock12 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock12 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock12 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/81.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock12 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock12 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}

div#stock13 {
	position: absolute;
	top: 600px;
	left: 250px;
 	width: 150px;
	height: 150px;	
  list-style-type: none;
  text-decoration: none;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
div#stock13 a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;  
	background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}
div#stock13 a:link {
  text-decoration: none;
 	width: 150px;
	height: 150px;
  background-image: url('../linklogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
div#stock13 a:hover {
  display: block;
  background-image: url('../images/x-85.jpg/82.jpg');
	width: 150px;
	height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
div#stock13 a:visited {
	text-decoration: none;
	width: 150px;
	height: 150px;
}
div#stock13 a:active {
	text-decoration: none;    
	width: 150px;
	height: 150px;
}